html {
  /* scrollbar always visible in order to prevent shift when revealing answer*/
  overflow-y: scroll;
}

/* general layout */



.hidden {
  /* guarantees a consistent width across front and back */
  font-weight: bold;
  display: block;
  line-height:0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.card21 #btn-reveal{
  /* no need to display reveal btn on last card */
  display:none;
}

#btn-reveal {
  font-size: 0.5em;
}

.mobile #btn-reveal {
  font-size: 0.8em;
}

/*
######## CLOZE OVERLAPPER DEFAULT TEMPLATE END ########
template*/

/* Add your customizations here: */

.card {
  font-family: Open Sans, sans;
  font-size: 20px;
  text-align: center;
  color: #586e75;
  background-color: #fdf6e3;
}

.corner {
    position: absolute;
    right: 5px;
    top: 5px;
}

hr {
    color: #586e75;
}

.text-block {
    padding-left: 10px;
    padding-bottom: 10px;
}

.sem-block, .text-block {
    text-align: left;
}

.sem-block strong {
    color: #268bd2;
}

a {
    color: #2aa198;
}

.sem-block > p, .sem-block > a, .sem-block > div {
    display: block;
    padding-left: 10px;
    padding-bottom: 10px;
}

.sem-block, p, div, .hint{
    margin: 0;
}

.context {
    font-weight: bold;
    color: #268bd2;
}

.cloze {
    font-family: Sans Forgetica, Open Sans, sans;
  font-weight: normal;
  font-style: normal;
  color: #2aa198;
}

#text-back div {
    font-family: Sans Forgetica, Open Sans, sans;
    color: #2aa198;
}

#text-back {
    padding-top: 10px;
    padding-bottom: 40px;
}

#text-front {
    padding-top: 30px
}
  
  